doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (false) bar(1 + 5)
    link(rel="stylesheet", href="style.css")
  body

    h1 Surakarta Board Game

    #board
      //- each row in board
      //-   each cell in row
      //-     .cell
      //-       if cell
      //-         img(src="img/" + cell + ".png")
      //-       else
      //-         img(src="img/empty.png")


    -
      var ext_loop_path = [
        "M 300 200",
        "A 100 100 0 1 0 200 300",
        "H 800", // Horizontal line to 8,3
        "A 100 100 0 1 0 700 200",
        "V 800", // Vertical line to 8,8
        "A 100 100 0 1 0 800 700",
        "H 200", // Horizontal line to 3,8
        "A 100 100 0 1 0 300 800",
        "V 200", // Vertical line to 3,3``
        "Z" // Close path
        ].join(" ");

      var internal_loop_path = [
        "M 400 200",
        "A 200 200 0 1 0 200 400",
        "H 800", // Horizontal line to 8,4
        "A 200 200 0 1 0 600 200",
        "V 800", // Vertical line to 6,8
        "A 200 200 0 1 0 800 600",
        "H 200", // Horizontal line to 2,6
        "A 200 200 0 1 0 400 800",
        "V 200", // Vertical line to 4,2
        "Z" // Close path
        ].join(" ");

    svg(viewBox="0 0 1000 1000")
      //- First are drawn the two loops
      path(d=ext_loop_path class="external-loop")
      path(d=internal_loop_path class="internal-loop")
      //- une grille de 6x6 avec des arcs de cercle avec 2 de diamètre max : Largeur 10x la taille d'une case.

      //- Grid
      line(x1="200" y1="300" x2="800" y2="300" class="grid")



