doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet", href="style.css")
  body

    h1 Surakarta Board Game

    #board
      //- each row in board
      //-   each cell in row
      //-     .cell
      //-       if cell
      //-         img(src="img/" + cell + ".png")
      //-       else
      //-         img(src="img/empty.png")
    svg
      rect(x="10", y="10", width="100", height="100", fill="red")
      circle(cx="75" cy="75" r="10" fill="#ED6E46")
      line(x1="5" y1="5" x2="100" y2="100" stroke="#765373" stroke-width="8" class="grid")
      //- line(x1="35" y1="5" x2="35" y2="100" stroke="#765373" stroke-width="8")
      line(x1="5" y1="15" x2="100" y2="40" class="grid")



