@import 'variables.scss';


.board {
    background-color: $board_background;
}

.grid{
    // color: $grid_color;
    stroke: yellow;
    stroke-width: 6;
}

.loop{
    stroke: black;
    stroke-width: 12;
    fill: none;
}

.loop_path_2{
    stroke: $external_loop_color;
}

.loop_path_3{
  stroke: $internal_loop_color;
}

.player_1{
  // stroke: $piece_contour;
  stroke-width: 1;
  fill: $player1_color;
}

.player_2{
  // stroke: $piece_contour;
  stroke-width: 1;
  fill: $player2_color;
}

.empty{
  stroke: $piece_contour;
  stroke-width: 1;
  fill: none;
}
