@import 'variables.scss';


.board {
    background-color: $board_background;
}

.grid{
    // color: $grid_color;
    stroke: yellow;
    stroke-width: 2;
}

.external-loop{
    stroke: $external_loop_color;
    // stroke: black;
    stroke-width: 8;
    fill: none;
    // stroke-linejoin="round"
}

.internal-loop{
  stroke: $internal_loop_color;
  // stroke: black;
  stroke-width: 8;
  fill: none;
  // stroke-linejoin="round"
}

.player_1{
  stroke: $piece_contour;
  stroke-width: 1;
  fill: $player1_color;
}

.player_2{
  stroke: $piece_contour;
  stroke-width: 1;
  fill: $player2_color;
}

.empty{
  stroke: $piece_contour;
  stroke-width: 1;
  fill: none;
}
